body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(175, 0, 178), blue);
}

.player {
    max-width: 640px;
}

.drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

video {
    width: 300px;
    height: auto;
    margin-top: 10px;
}
